<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <centre>
    <h1>Welcome to Best Restaurant</h1>
      <form>
          <input type="text" placeholder="<%= jeff %>" name="search">
          <button type="submit">SEARCH</button>
      </form>
  </centre>
  </body>
</html>
